Config.php
Db.php
www/package-lock.json
www/node_modules*/
Sessions/*

tibiabook/www/package-lock.json
tibiabook/www/node_modules*/

tibiabook/www/js/site/map/*
tibiabook/www/js/dev/map/*
tibiabook/www/js/map/*

tibiabook/www/css/icons/map/*
tibiabook/www/css/map/*

controle/www/js/site/map/*
controle/www/js/dev/map/*
controle/www/js/map/*

controle/www/css/icons/map/*
controle/www/css/map/*



tibiabook/www/img/visitante/*
controle/www/img/visitante/*