Config.php
Db.php
www/package-lock.json
www/node_modules*/
Sessions/*

dosamigosmetalurgica/www/js/site/map/*
dosamigosmetalurgica/www/js/dev/map/*
dosamigosmetalurgica/www/js/map/*

dosamigosmetalurgica/www/css/icons/map/*
dosamigosmetalurgica/www/css/map/*

controle/www/js/site/map/*
controle/www/js/dev/map/*
controle/www/js/map/*

controle/www/css/icons/map/*
controle/www/css/map/*



dosamigosmetalurgica/www/img/visitante/*
controle/www/img/visitante/*