@import 'components/warning';
@import 'components/pushloader';

#feed_back{
	position: fixed;
	display: block;
	z-index: 9999;
	width: 100%;
	max-width: 50rem;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: $gray1;
	background-color: $gray5;
	border: 1px solid $colorPrimary;
	opacity: 0;
	@include animation(all 0.25s ease-in-out);
	@include transition(all 0.25s ease-in-out);
}


.feed_back{
	display: block;
	color: #FFF;
	margin: auto;
	width: 100%;
	max-width: 600px;
	padding: 0 10px;
	@include border-box;

	padding: 5px 10px;
	@include border-box;
	color: $colorSecondary;
}

.feed_blue{
	background-color: $gray3 !important;
	color: #ffffff !important;
	font-weight: 500;
}
.feed_red{
	background-color: $colorDanger !important;
	color: #ffffff !important;
	font-weight: 500;
}