<div class="content content_v content_h content_m">
	
	<h1 class="text-center">Folha de Estilos</h1>
	
	<hr/ >

	<h3 class="text-center">Fontes</h3>

	<h1>Texto no tamanho H1</h1>
	<h2>Texto no tamanho H2</h2>
	<h3>Texto no tamanho H3</h3>
	<h4>Texto no tamanho H4</h4>
	<h5>Texto no tamanho H5</h5>
	<h6>Texto no tamanho H6</h6>
	<strong>Isso é um Strong</strong>
	<p>Isso é um padragrafo</p> 
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<hr/ >

	<h3 class="text-center">Cores</h3>

	<div class="block width-16-6">
		<div class="bg-primary">
			<div class="content content_h content_v">
				<h3 class="white">Primary</h3>
			</div>
		</div>
	</div>
	<div class="block width-16-6">
		<div class="bg-secondary">
			<div class="content content_h content_v">
				<h3 class="white">Secondary</h3>
			</div>
		</div>
	</div>
	<div class="block width-16-6">
		<div class="bg-terciary">
			<div class="content content_h content_v">
				<h3 class="white">Terciary</h3>
			</div>
		</div>
	</div>
	<div class="block width-16-6">
		<div class="bg-danger">
			<div class="content content_h content_v">
				<h3 class="white">Danger</h3>
			</div>
		</div>
	</div>
	<div class="block width-16-6">
		<div class="bg-white">
			<div class="content content_h content_v">
				<h3 class="gray1">White</h3>
			</div>
		</div>
	</div>
	<div class="block width-16-6">
		<div class="bg-accent">
			<div class="content content_h content_v">
				<h3 class="white">Accent</h3>
			</div>
		</div>
	</div>

	<h3 class="text-center">Cinzas</h3>

	<div class="block width-25">
		<div class="bg-gray1">
			<div class="content content_h content_v">
				<h3 class="white">Gray 1</h3>
			</div>
		</div>
	</div>
	<div class="block width-25">
		<div class="bg-gray2">
			<div class="content content_h content_v">
				<h3 class="white">Gray 2</h3>
			</div>
		</div>
	</div>
	<div class="block width-25">
		<div class="bg-gray3">
			<div class="content content_h content_v">
				<h3 class="white">Gray 3</h3>
			</div>
		</div>
	</div>
	<div class="block width-25">
		<div class="bg-gray4">
			<div class="content content_h content_v">
				<h3 class="white">Gray 4</h3>
			</div>
		</div>
	</div>
	<div class="block width-25">
		<div class="bg-gray5">
			<div class="content content_h content_v">
				<h3 class="white">Gray 5</h3>
			</div>
		</div>
	</div>

	<hr/ >

	<h3 class="text-center">Botões</h3>

	<button class="b b-primary">BOTÃO</button>	
	 <button class="b b-secondary">BOTÃO</button>	
	 <button class="b b-terciary">BOTÃO</button>	
	 <button class="b b-acent">BOTÃO</button>	
	 <button class="b b-danger">BOTÃO</button>	
	 <button class="b b-white">BOTÃO</button>

	<hr/ >

	<h3 class="text-center">Formulário</h3>

	<h4 class="formulario-titulo">Whatsapp</h4>
	<input class="formsimple-input width-100" type="tel" placeholder="Seu Whatsapp" />
	<div class="site-space-1"></div>
	<h4 class="formulario-titulo">Mensagem</h4>
	<textarea id="mensagem" class="formsimple-textarea width-100" name="mensagem" placeholder="Deixe uma mensagem"></textarea>

</div>