<section class="content content_v content_h content_m">
	<div class="max35 margin-auto">
		<h1 class="text-center">Login</h1>
		<div class="site-space-2"></div>
		<p>
			<h4 class="formulario-titulo">ID</h4>
			<input class="formsimple-input width-100" type="text" placeholder="Seu ID" />
		</p>

		<p>
			<h4 class="formulario-titulo">SENHA</h4>
			<input class="formsimple-input width-100" type="password" placeholder="Sua Senha" />
		</p>

		<p>
			<button class="b b-primary width-100">Entrar</button>
		</p>

		<p class="text-center">
			<a href="/login/criar">Criar Conta</a>
		</p>
		<p class="text-center">
			<a href="/login/recuperar">Esqueci minha senha</a>
		</p>
	</div>
</section>