<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
</head>
<style>
	.content {
		display: block;
		width: 100%;
		max-width: 980px;
		margin: auto;
		padding: 60px;
		box-sizing: border-box;
	}
	.site-space-10 {
		display: block;
		width: 100%;
		height: 10px;
	}
	.titulo::after{
		display: block;
		width: 50%;
		position: relative;
		left: 50%;
		transform: translate(-50%, 5px);
		content: '';
		height: 1px;
		background-color: rgba(0,0,0,.2);
	}
	.titulo{
		display: block;
		text-align: center;
	}
</style>
<body style="display: block; font-family: Roboto; width: 100%; margin: auto; background-color: #f5f5f5">
	<div style="min-height: 80px; position: relative; display: block; box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2); width: 100%; background-color: #ffffff; color: #020202">
		<div style="display: block; width: 80px; position: absolute; left: 50%; transform: translate(-50%, 50%);">
			<img style="display: block; width: 100%; border-radius: 50%; box-shadow: 0px 2px 5px 1px rgba(0,0,0,.5);" src="http://statics.dosamigosmetalurgica.local/img/logo/logo.png" />
		</div>
	</div>
			
	<div class="content">
		<h1 class="titulo">{{titulo}}</h1>
		<div class="site-space-10"></div>
		<p>{{mensagem}}</p>

		<div class="site-space-10"></div>
		<hr style="border-color: rgba(255,255,255,.2)" />
		<div class="site-space-10"></div>

		<div style="vertical-align: top; display: inline-block; width: 50%">
			<p style="font-size: 16px; font-weight: 400;">Nome<br /> <span style="font-weight: 600;">{{vis_nome}}</span> <br /><br />
			E-mail<br /> <span style="font-weight: 600;">{{vis_email}}</span> <br /><br />
			</p>
		</div><div style="vertical-align: top; display: inline-block; width: 50%">
			<p style="font-size: 16px; font-weight: 400;">Cidade<br /> <span style="font-weight: 600;">{{vis_cidade}}</span> <br /><br />
			Whatsapp<br /> <span style="font-weight: 600;">{{vis_whats}}</span></p>
		</div>

		<div class="site-space-10"></div>
		<hr style="border-color: rgba(255,255,255,.2)" />
		<div class="site-space-10"></div>

		<div style="text-align: center;">
			<p style="font-size: 12px;"><span style="font-weight: 600;">{{momento}}</span><br/>
			{{ip}}</span></p>
		</div>
	</div>

	<div style="min-height: 80px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2); width: 100%; background-color: #ffffff; color: #020202">
		<div class="content" style="padding: 20px;">
			<p style="text-align: center;">Todos os direitos reservados © 2020 - {{ano}}</p>
			<p style="font-size: 13px; text-align: center;">desenvolvido por Matheus Maydana</p>
		</div>
	</div>
</body>
</html>